.checked {
    border: 2px dashed #000;
    background-color: green;
    color:yellow;
}

/*
Class checked
*/
input:invalid {
  color:pink;
}

.box {
  border: silver solid;
  width: 256px;
  height: 128px;
  margin: 10px;
  padding: 5px;
  float: left;
}