
.grid-2 {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto 80px;
  grid-gap: 10px;
  grid-template-areas:    "header"  /*Short screen with only one column*/
                          "main"
                          "sidebar"
                          "footer";
}

@media only screen and (min-width: 500px) {
  .grid-2 {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100px 100px auto;
    grid-template-areas:    "header header header"  /*the header span 3 Columns*/
                            "main main sidebar"
                            "main main sidebar"
                            "footer footer footer";
  }
}

/* items */
.grid-2 div, .item-C div{
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* specific item styles */

.item-D {
  background: #b03532;
  grid-area: header; /*We can discharge grid-column and grid-row rules in favor of grid-area:*/
}

.item-C {
  display: grid;
  grid-gap: 20px;
  background: #33a8a5;
  grid-area: main;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 500px) {
  .item-C {
    display: grid;
    grid-gap: 20px;
    background: #33a8a5;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
}

.item-B {
  background: #30997a;
  grid-area: sidebar;
}
.item-A {
  background: #6a478f;
  grid-area: footer;
}

.item-C1{
  background: #4464a1;
}

.item-C2{
  background: #e24f3f;
}

.item-C3{
  background: #e55fb7;
}

.grid-1 {
  display: grid;
  background: #222;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;

  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr)); /* place as many 9em columns as possible, but then expand them to a maximum of 1fr until the container is filled*/

  grid-gap: 20px;

}

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

.item-1 {
  background: #b03532;
}
.item-2 {
  background: #33a8a5;
}
.item-3 {
  background: #30997a;
}
.item-4 {
  background: #6a478f;
}
.item-5 {
  background: #da6f2b;
}
.item-6 {
  background: #3d8bb1;
}
.item-7 {
  background: #e03f3f;
}
.item-8 {
  background: #59a627;
}
.item-9 {
  background: #4464a1;
}
