.gridgeneric{
  grid-gap: 20px; /*guttes of 20 px*/
  display: grid;
}

.grid-1 {
  grid-template-columns: repeat(3, 32%); /*3 times 33.33%*/
  grid-template-rows: auto auto auto; /*auto value is assigned as default anyway. So this can be omitted */
}

.grid-2 {
  grid-template-columns: 300px 1fr 3fr 20%;
  /*grid-template-rows: auto auto auto; auto value is assigned as default anyway. So this can be omitted */
}

/* items */

.grid-1 div, .grid-2 div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* specific item styles */

.item-1 {
  background: #b03532;
  grid-column: 1;
  grid-row: 1;
}
.item-2 {
  background: #33a8a5;
  grid-column: 2;
  grid-row: 1;
}
.item-3 {
  background: #30997a;
  grid-column: 3;
  grid-row: 1;
}
.item-4 {
  background: #6a478f;
  grid-column: 1;
  grid-row: 2;
}
.item-5 {
  background: #da6f2b;
  grid-column: 2;
  grid-row: 2;
}
.item-6 {
  background: #3d8bb1;
  grid-column: 3;
  grid-row: 2;
}
.item-7 {
  background: #e03f3f;
  grid-column: 1;
  grid-row: 3;
}
.item-8 {
  background: #59a627;
  grid-column: 2;
  grid-row: 3;
}
.item-9 {
  background: #4464a1;
  grid-column: 3;
  grid-row: 3;
}

.item-A {
  background: #b03532;

}
.item-B {
  background: #33a8a5;

}
.item-C {
  background: #30997a;

}
.item-D {
  background: #6a478f;

}
.item-E {
  background: #da6f2b;

}
.item-F {
  background: #3d8bb1;

}
.item-G {
  background: #e03f3f;
}

.item-H {
  background: #59a627;

}
.item-I {
  background: #4464a1;

}
