fieldset{
  padding: :10px;
}

label{
  margin-bottom: 10px;
  display: inline-block;
}

input {
  float: right;
  margin-right: 1200px;
  width: 450px;
}

input:invalid {
  background-color: pink;
}
