body{ margin:0px; }

#flexstart {
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);   /*To avoid scrollbar*/
	background-color: yellow;
	margin: 10px 0px 10px 10px;
}

#center {
	justify-content: center;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	background-color: green;
	margin: 10px 0px 10px 10px;
}

#flexend{
	justify-content: flex-end;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	background-color: blue;
	margin: 10px 0px 10px 10px;
}

#spacebetween{
	justify-content: space-between;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	background-color: purple;
	margin: 10px 0px 10px 10px;
}

#spacearound{
	justify-content: space-around ;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	background-color: pink;
	margin: 10px 0px 10px 10px;
}

#stretch{
	/*align-items: stretch; DEFAULT*/
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 200px;
	background-color: pink;
	margin: 10px 0px 10px 10px;
}

#alignflexstart{
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 200px;
	background-color: green;
	margin: 10px 0px 10px 10px;
}

#aligncenter{
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 200px;
	background-color: blue;
	margin: 10px 0px 10px 10px;
}

#aligend{
	align-items: flex-end;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 200px;
	background-color: purple;
	margin: 10px 0px 10px 10px;
}

#alignbaseline{
	align-items: baseline;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 200px;
	background-color: pink;
	margin: 10px 0px 10px 10px;
}

#flexstart > *, #center > *, #flexend > *, #spacebetween > *, #spacearound > *, #stretch > *, #alignflexstart > *, #aligncenter >*, #aligend > *, #alignbaseline > *{
  background-color: lightgray;
  border-radius: 10px;
  flex: 1;
	max-width: 140px;
	border: 1px solid black;
}

.one {
	height: 70px;
}

.two {
	height: 100px;
}

.tree {
	height: 130px;
}

#aligncontent_base{
	align-content: "stretch"; /* default*/

	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: pink;
	margin: 10px 0px 10px 10px;
}


#aligncontent_flexstart{
	align-content: flex-start;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: green;
	margin: 10px 0px 10px 10px;
}

#aligncontent_center{
	align-content: center;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: blue;
	margin: 10px 0px 10px 10px;
}

#aligncontent_flexend{
	align-content: flex-end;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: purple;
	margin: 10px 0px 10px 10px;
}

#aligncontent_spacebetween{
	align-content: space-between;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: red;
	margin: 10px 0px 10px 10px;	
}

#aligncontent_spacearound{
	align-content: space-around;
	justify-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	width: calc(100vw - 30px);
	height: 400px;
	background-color: yellow;
	margin: 10px 0px 10px 10px;		
}

#aligncontent_base > *, #aligncontent_flexstart > *, #aligncontent_center > *, #aligncontent_flexend > *, #aligncontent_spacebetween > *, #aligncontent_spacearound > *{
  background-color: lightgray;
  border-radius: 10px;
  flex: 1;
  max-width: 390px;
  min-width: 300px;
  min-height: 50px;
  border: 1px solid black;
}

.top{
	max-height: 90px;
}


/*align-self*/
#flex-container{
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  display: flex;
}

.flex-start { align-self: flex-start; }
.flex-end { align-self: flex-end; }
.center { align-self: center; }
.baseline { align-self: baseline; }
.stretch { align-self: stretch; }

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.Orderfour  { order: 1; }
.Ordertwo   { order: 2; }
.Orderone   { order: 3; }
.Orderthree { order: 4; }

.fc{
	display: flex;	
	flex-flow: column;
}

.fc > *{
  background-color: lightgray;
  border-radius: 10px;
  flex: 1;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 0px;
}