
.red{
	color: red;
}

.green{
	color: green;
}

th, td {
	border: 1px solid black;
}

#block_inline {
	border-collapse: collapse;

}

#block_inline td {
	text-align: center;
	padding-left: 5px;
}

#block_inline th {
	color: red;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

#overlap {
	color: red;
	margin-top: 50px; /*IGNORED*/
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 50px;
	background-color: lightblue;
}

#overlap2 {
	color: red;
 	margin-top: 15px; /* still ignored */
  padding:15px;
  background-color: lightblue;
  line-height: 42px; /* fix */
}

#overlap3 {
	color: red;
 	margin-top: 15px; /* no longer ignored */
 	padding:15px;
 	background-color: lightblue;
 	display:inline-block; /* good fix */
 }
