/*Margin and Color*/

/*------------------------------------------------------------------------------------------
Margin
margin can be a bit confusing, depending upon context, it will space an item away from its immediate neighbors 
(in the HTML) or from the edges of its parent. Also, there is not only one margin property, but five:*/

#margin_1 { margin: 10px; }  
#margin_2 {
 margin-left:   3px; 
 margin-right:  3px;   
 margin-top:    3px;   
 margin-bottom: 3px; 
}  





